body{
    background-image: url(K.jpg);
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
}
#reponse{
    font-size: 30px;
}
#boutonValider{
    font-size: 30px;
}